ultralytics==8.2.100
opencv-python==4.10.0.84
numpy==1.26.4
streamlit==1.37.1
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.9.1
scipy==1.13.1
lapx==0.5.9.post1
filterpy==1.4.5
insightface==0.7.3
onnxruntime==1.17.1

